<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>ELIMINAR PELICULA</h1>
    <section>
      <form
        action="/movies/deleteMovies/<%= movies.id %>?_method=DELETE"
        method="POST"
        class="form-menu"
      >
        <div>
          <p>¿ Deseas eliminar a <%= movies.title %>?</p>
        </div>
        <button type="submit">Borrar película</button>
      </form>
    </section>

    <div>
      <button><a href="/"> Volver al Listado de películas</a></button>
    </div>
  </body>
</html>
