<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/loggin.css" />
    
    
  </head>

  <body>
    <button><a href="/">Volver a la página de listado</a></button>
    <h1>Eliminación</h1>
    <section>
      <form action="/movies/deleteMovies/<%= movies.id %>?_method=DELETE" method="POST"class="form-menu">
      <div>
          <p>¿Usted está seguro que quiere eliminar la película? <%= movies.title %>?</p>
      </div>
        <button type="submit">Borrar película</button>
      </form>
    </section>

    
  </body>
</html>
