* {
    box-sizing: border-box;

    justify-content:center;
  }
  button{
    border-radius:15px;
    padding-right: 15px;
    padding-left: 15px;
    font: 20px   Arial, sans-serif;
    color:lightcyan;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;
    background-color:rgba(0, 139, 109, 0.411);
    position: relative;
    
    text-align: center;
  }